#logo{
    height: 80px;
    width: 80px;
    
    /*position: absolute;
    float: left;*/
}
#font {
    font-family: 'Lobster', cursive;
}
.titleLatteDaa {
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Yellowtail', cursive;*/
    /*font-family: 'Niconne', cursive;*/
    font-family: 'Pacifico', cursive;
    
    font-size: 350%;
}
.nav-link {
    color: black;
    font-size: 130%;
}

.navbar-custom {
 background-color: lightcoral;   
}

.content {
    background-color: #C9C7C7;
}

#socialLogo {
    height: 65px;
    width: 65px;
    padding-right: 5px;
    }

.nav-link:hover{
    color: lightgray;
}

.carouselPic {
    height: 725px;
}

#coffeeCarousel {
    width: 725px;
margin-top: 25px;
}

.contactInput {
margin-top: 45px;
}

#buttonContact {
background-color: lightcoral;
border-radius: 10px;
}

.coffeeFooter {
    background-color: darkgray;
    height: 40px;
    padding-bottom: 0px;
      position: absolute;
  bottom: 0;
  width: 100%;
}

#github{
 width: 30px;
 height: 30px;
 margin-top: 5px;
}

#content-wrap {
    padding-bottom: 40px;
}

#page-container {
    position: relative;
    min-height: 100vh;   
}

.delivery {
    padding: 15px;
    margin: 15px;
    font-size: 200%;
}


.doordash{
color: black;

}

.doordash:hover{
    color: lightcoral;
}

.doordash:link{
    text-decoration: underline;
}

#toggler {
    border-color: black;
    border-radius: 5px;
}

#aboutMePic {
    height: 380px;
    width: 287px;
}

.doordashQR {
    height: 80px;
    width: 80px;
    float: right;
    padding-top: 5px;
    margin-left: 5px;
}

#menuContainer {
    border: black 1px solid;
}

.popTitle {
    font-weight: 800;
    font-size: 20px;
}

.popItem {
    font-weight: 600;
    font-size: 18px;
}

.popItemDesc {
    font-weight: 400px;
    font-size: 14px;
}

.foodTitle {
    font-weight: 800;
    font-size: 20px;
}

.foodItemDesc {
    font-weight: 400;
    font-size: 14px;
}

.foodItem {
    font-weight: 600;
    font-size: 18px;
}

.snacksTitle {
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}

.snackItem{
    font-weight: 600;
    font-size: 18px;
}

.classicsTitle {
    font-weight: 800;
    font-size: 20px;
}

.classicsDesc {
    font-weight: 400;
    font-size: 14px;
}

.classicsItem {
    font-weight: 600;
    font-size: 18px;
}

.classicsItemDesc {
    font-size: 13px;
}

.sigTitle {
    font-weight: 800;
    font-size: 20px;
}

.sigDesc {
    font-weight: 400;
    font-size: 14px;
}

.sigItem {
    font-weight: 600;
    font-size: 18px;
}

.sigItemDesc {
    font-size: 13px;
}

.energyItemsCont {
    margin-top: 10px;
}

.energyTitle {
    font-weight: 800; 
    font-size: 20px;
}

.energyItems {
    font-weight: 600;
    font-size: 18px;
}

.nonCoffeeTitle {
    font-weight: 800;
    font-size: 20px;
}

.nonCoffeeItems {
    font-weight: 600;
    font-size: 18px;
}

footer {
    position: absolute;
    width: 100%;
}











